# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Files
node_modules
dist
dist-ssr
database.db
db.sqlite
title.basics.tsv
locationDataset.pk
*.local
imdbKey.txt
.env
omdb.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Directories
node_modules/
data/
posters/
plots/



/server/posters
